body{
	color:#ffffff;
	font-family: serif;
	font-size:17px;
}

/**head ***/

#topNav {
	border-bottom:1px solid #f0f0f0;
	background:#f5f5f5;
	color:#717171;
	position:relative;
	z-index:209;
	width:100%;
	min-width:990px;
}
#topNav a:hover {
	text-decoration:underline;
	color:#ba2636
}
#topNavWrap {
	display:block;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#5d5d5d;
	margin:0 auto;
	font-family:Arial,"ו";
	width:990px;
	position:relative
}
#topNavLeft {
	float:left
}
#topNavRight {
	float:right;
	color:silver;
	position:relative
}
#topNavRight li {
	float:left;
	margin-left:5px
}
#topNavRight a {
	color:#323232
}
#topNavRight a:link,#topNavRight a:visited {
	color:#323232
}
#topNavRight a:hover {
	color:#ba2636;
	text-decoration:underline
}
#topNavRight .mcDropMenu {
	left:auto;
	right:-1px;
	padding-bottom:5px;
	line-height:22px
}
#topNavRight .myorder .mcDropMenu {
	width:81px;
	text-indent:13px;
	_right:-2px
}
#topNavRight .myorder .text_icon {
	display:inline-block;
	width:11px;
	height:14px;
	background:url(/Image/361/headfoot_4f7e92e.png) no-repeat -114px -45px;
	margin-right:2px;
	zoom:1;
	position:relative;
	top:3px;
	*top:0;
	_top:1px
}
#topNavRight .myorder .topNavHolder {
	_display:inline-block;
	_margin-top:3px
}
#topEpayInfo {
	color:#727171;
	margin-right:5px;
	display:none
}
#topEpayInfo b {
	font-weight:700
}
#topEpayInfo a:link,#topEpayInfo a:visited {
	margin-left:5px;
	color:#1E50A2
}
.topNavTip {
	position:absolute;
	margin:29px 0 0 0;
	*margin-top:22px;
	background-color:#FFF9D6;
	border:1px solid #E0A654;
	line-height:1.5;
	padding:5px 5px 1px;
	text-align:right;
	white-space:nowrap;
	word-break:keep-all
}
.topNavTip span {
	color:#AD490D;
	display:block
}
.topNavTip b,.topNavTip i {
	display:block;
	position:absolute;
	width:0;
	height:0;
	line-height:0;
	border-width:0 8px 8px;
	border-style:solid;
	_border-style:solid dashed;
	border-color:#E0A654 transparent;
	left:2em;
	top:-8px
}
.topNavTip i {
	border-color:#FFF9D6 transparent;
	left:-8px;
	top:1px
}
.mcDropMenuBox {
	position:relative;
	top:2px;
	line-height:24px;
	z-index:202;
	padding:1px 0;
	zoom:1;
	_float:left
}
.dropMenuBoxActive,.mcDropMenu {
	padding:0;
	border:1px solid #dcdddd;
	border-bottom-width:0;
	background-color:#fff
}
.topNavHolder {
	padding:0 16px 0 6px;
	position:relative;
	z-index:202;
	word-wrap:normal
}
.dropMenuBoxActive .topNavHolder {
	background-color:#fff;
	padding:0 15px 5px 5px
}
.dropMenuBoxActive .mcDropMenu {
	display:block
}
#userBoxArrow,.topNavHolder i {
	position:absolute;
	top:6px;
	right:7px;
	z-index:203;
	width:0;
	height:0;
	overflow:hidden;
	margin:0;
	border-width:4px 4px 0;
	border-color:#626262 transparent transparent;
	border-style:solid;
	_border-style:solid dotted;
	-webkit-transition:-webkit-transform .2s ease-in;
	-moz-transition:-moz-transform .2s ease-in;
	-ms-transition:-ms-transform .2s ease-in;
	-o-transition:-o-transform .2s ease-in;
	transition:transform .2s ease-in;
	zoom:1
}
#userBoxArrow {
	right:auto;
	left:89px;
	*top:13px
}
.user163BoxActive #userBoxArrow,.dropMenuBoxActive .topNavHolder i {
	right:6px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
.mcDropMenu {
	position:absolute;
	left:-1px;
	top:22px;
	z-index:201;
	padding-top:2px;
	border-bottom-width:1px;
	box-shadow:0 4px 8px rgba(0,0,0,.1);
	display:none
}
.mcDropMenu a {
	display:block;
	word-wrap:normal;
	white-space:nowrap;
	padding:0 5px
}

.holderLine {
	position:absolute;
	right:0;
	top:0
}
.dropMenuBoxActive .holderLine {
	display:none
}
.mcDropMenu {
	width:68px
}
.mcDropMenu a {
	vertical-align:middle;
	padding:1px 0 1px 6px
}
.mcDropMenu a em {
	background-image:url(/Image/361/headfoot_4f7e92e.png);
	background-repeat:no-repeat;
	display:block;
	float:left;
	width:16px;
	height:16px;
	overflow:hidden;
	vertical-align:middle;
	margin:3px 5px auto auto
}